/* Basic Defaults */

body {
  background: black;
  color: rgb(229, 177, 58);
  margin: 0;
  padding: 0;
  line-height: 16px;
	letter-spacing: 0em;
	font-weight: 300;
}

/* Text */
@font-face {
  font-family: Star Jedi;
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Starjedi.ttf') format('truetype')
}

.jedi-font {
  font-family: Star Jedi, serif;
  color: rgb(229, 177, 58);
}

.gothic-font {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* Header CSS */

/* Checklist CSS */

/* Footer CSS */